[submodule "ContinuousCode/empirical_dynamics"]
	path = ContinuousCode/empirical_dynamics
	url = https://github.com/hyunjimoon/empirical_dynamics
[submodule "ContinuousCode/trust_factory/stanify"]
	path = ContinuousCode/trust_factory/stanify
	url = https://github.com/Data4DM/stanify
