.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*.vdfx
**/*.hpp
**/*.o
**/*.vmfx
*.pyc
.ipynb_checkpoints/
build/
*.vdf
*.2mdl
*.swp
.vscode/
venv/
**/*.png
**/*.DS_Store
.DS_Store
.obsidian
.idea

## data types for pipeline
**/*.pkl
**/*.txt
**/*.tsv
**/*.csv
**/*.list